html,body {
  height: 100%;
  margin: 0;
}

h1,
p {
  font-family: Lato;
}

.shadow {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.bg-green {
 /*background: #86b404;*/
 background: #b2e6b2
}

.bg-green-dif {
  background: linear-gradient(to bottom, #86b404, #fef9e7);
}

.msg-green {
  background: #0df338;
}

.wrapper {
 min-height: 90%;

}

.footer {
  /* Like the header, the footer will have a static height - it shouldn't grow or shrink.  */
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
   /* position: absolute;*/
   text-align: center;
   position: 0 flex !important;
    height: 10% !important;
    width: 100% !important;
}

.container {
  padding-top: 1%;
  padding-bottom: 1%;
}

.cmn-divfloat {
  position: fixed !important;
  bottom: 45px;
  right: 15px;
  display: none;
}
.cmn-btncircle {
  width: 40px !important;
  height: 40px !important;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
}

.carousel-caption {
  bottom: 0;
  padding: 50px;
}
