h1,
p {
  font-family: Lato;
}
/*
body {
  background: #acb6e5;  fallback for old browsers */
/* background: -webkit-linear-gradient(
    to right,
    #86fde8,
    #acb6e5
  ); /* Chrome 10-25, Safari 5.1-6 * /
  background: linear-gradient(
    to right,
    #86fde8,
    #ace5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ * /
}*/

Nav {
  background: #ffc168;
}

footer {
  background: #87CEEB;
}













