h1,
p {
  font-family: Lato;
}
/*
body {
  background: #acb6e5;  fallback for old browsers */
/* background: -webkit-linear-gradient(
    to right,
    #86fde8,
    #acb6e5
  ); /* Chrome 10-25, Safari 5.1-6 * /
  background: linear-gradient(
    to right,
    #86fde8,
    #ace5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ * /
}*/

.bg-orange {
  background-color: #ff8c00;
}

.msg-green {
  background-color: #0df338;
}

footer {
  /* Like the header, the footer will have a static height - it shouldn't grow or shrink.  */
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

.cmn-divfloat {
  position: fixed !important;
  bottom: 45px;
  right: 15px;
  display: none;
}
.cmn-btncircle {
  width: 40px !important;
  height: 40px !important;
  padding: 6px 0px;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
}
